*{
    background-color: #2B2F3A;
    color: #2DC7DE ;
}
.App{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.container_portada{
    width: 100vh;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
   
}
.imagenes{
    width: 300px;
}


.imagen_reto{
    width: 300px;
    margin: 15PX;
    
    
}

