@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Display&display=swap');

.ce-my-message-bubble {
  background-color: #7a39e0  !important;
}

.ce-chat-title-text {
  color: #7a39e0 !important;
}

.ce-chat-subtitle-text {
  color: #7a39e0 !important;
  font-weight: 600;
}

#ce-send-message-button {
  position: relative !important;
  bottom: 2px !important;
  left: 1px !important;
  background-color: #7a39e0 !important;
}

.ce-my-message-timestamp {
  color: #7a39e0 !important;
}

.transition-3 {
  transition: all 0.33s ease;
  -webkit-transition: all 0.33s ease;
  -moz-transition: all 0.33s ease;
}

.transition-5 {
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
}
imagen-portada{
  width:"100%";

}

.container_coaches{
  display: flex;
}
.perfil{
  display: flex;
  flex-direction: column;
  margin: 30px;
}


/* TELEMEDICINA */

.prin{
  /* background-color: #2B2F3A; */
  height: 800px;
}

.teleme{
  height: 400px; 
  width: 1430px;   
  margin-top: -20px;
}

.resena{
  /* float: right; */
  margin-top: -375px;
  color: white;
  text-align: right;
  font-style: oblique;
  margin-right: 50px;
}

.resena1{
  margin-top: 30px;
  color: white;
  text-align: right;
  font-style: oblique;
  font-weight: lighter;
  font-size: 28px;
  margin-right: 50px;
}

.perfil{
  margin-left: 940px;
  margin-top: 10px;
  text-decoration: none;
  color: #40e0d0;
  background-color: #2B2F3A;
  text-align: center;
  width: 290px;
  height: 80px;
  padding-top: 25px;
  border-radius: 10px;
  font-size: 22px;
}

.telemed{
  height: 400px; 
  width: 1430px;
  margin-top: 40px;
}

.resena2{
  margin-top: -360px;
  color: white;
  text-align: left;
  font-style: oblique;
  margin-left: 50px;
}

.resena3{
  margin-top: 30px;
  color: white;
  text-align: left;
  font-style: oblique;
  font-weight: lighter;
  font-size: 28px;
  margin-left: 50px;
}

.nu{
  margin-left: 80px;
  margin-top: -10px;
  text-decoration: none;
  color: #40e0d0;
  background-color: #2B2F3A;
  text-align: center;
  width: 290px;
  height: 60px;
  padding-top: 15px;
  border-radius: 10px;
  font-size: 22px;
}

.nut{
  margin-left: 80px;
  margin-top: 10px;
  text-decoration: none;
  color: #40e0d0;
  background-color: #2B2F3A;
  text-align: center;
  width: 290px;
  height: 60px;
  padding-top: 15px;
  border-radius: 10px;
  font-size: 22px;
}

.perfiln{
  margin-top: -128px;
  margin-left: 540px;
  width: 291px;
  height: 100px;
  
}

.telede{
  float: right;
  margin-top: 100px;
  margin-right: 100px;
  color: white;
}

.teleinn{
  text-align: right;    
  margin-top: -400px;
  margin-right: 100px;
  color:  white ;
}

/* AtencionMedica */

.container1{
  height: 750px;
  background-image: url("https://media.istockphoto.com/photos/gym-equipment-for-weight-training-background-picture-id875209356?k=20&m=875209356&s=170667a&w=0&h=FKV2iAR4ytVvr61aURdnRYxX5lydaJMdsoZ3LxV7mLM=");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 50px;
}

.atencion{

  background-color: #2B2F3A;
  border: 2px solid #2B2F3A;
  width: 800px;
  
  margin-left: 300px;
  height: 650px;
  border-radius: 10px;
  margin-top: 20px;
  width: 800px; 
}

.de{
  text-align: center;
  /* font-weight: bolder; */
  font-size: 22px;
  margin-top: 40px;
  padding-top: 10px;
  /* color: #40e0d0; */
  border: 2px solid blueviolet;
  border-radius: 10px;
  width: 600px;
  height: 120px;
  margin-left: 100px;
}

.logo{
  width: 100px;
  height: 100px;
  margin-top: 20px;
  margin-left: 20px;
}

.asesorme{
  border-radius: 300px;
  width: 150px;
  margin-left: 320px;
  margin-top: 5px;
}

.descrip{
  margin-top: 70px;
  text-align: center;
  color: blueviolet;
}

.ase{
  margin-top: 10px;
  text-align: center;
  color: blueviolet;
  font-weight: lighter;
}

.ase1{
  margin-top: 10px;
  text-align: center;
  color: blueviolet;
  font-weight: lighter;
  font-size: 15px;
}

.asesor{
  border-radius: 60px;
  width: 750px;
  height: 150px;
  margin-top: 20px;
  margin-left: 20px;
}

.volver{
  margin-left: 350px;
  margin-top: 10px;
  text-decoration: none;
  color: #40e0d0;
  background-color: #2B2F3A;
  width: 70px;
  text-align: center;
  height: 30px;
  padding: 4px;
  border-radius: 10px;
}

/* AtencionNutricion */

.containerr{
  height: 700px;
  background-image: url("https://wupfitnesscenter.es/wp-content/uploads/2020/04/fitness-y-alimentacion-durante-la-cuarentena.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 50px;
}

.nutri{
  background-color: #000000c9;
  border: 2px solid #2B2F3A;
  width: 800px;
  
  margin-left: 300px;
  height: 630px;
  border-radius: 10px;
}

.logos{
  width: 100px;
  height: 100px;
  margin-left: 20px;
  margin-top: -90px;
}

.aten{
  border-radius: 300px;
  width: 150px;
  margin-left: 330px;
  margin-top: 80px;
}

.nom{
  text-align: center;
  margin-top: 30px;
}

.des{
  text-align: center;
  /* font-weight: bolder; */
  font-size: 22px;
  margin-top: 40px;
  padding-top: 10px;
  /* color: #40e0d0; */
  border: 2px solid blueviolet;
  border-radius: 10px;
  width: 600px;
  height: 100px;
  margin-left: 100px;
  /* background-color: blueviolet; */
}

.for{
  font-weight: inherit;
  color: rgb(153, 151, 151);
  font-size: 20px;
  text-align: center;
  margin-top: 20px;
}

.volveer{
  margin-left: 360px;
  margin-top: 20px;
  text-decoration: none;
  color: #40e0d0;
  background-color: #2B2F3A;
  width: 70px;
  text-align: center;
  height: 30px;
  padding: 4px;
  border-radius: 10px;
}

