.container_pro{
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 1000px;
    box-sizing: content-box;
}

.imagen_prog{
    width: 300px;
    height: 200px;
}