#formBasicName{
    width: 20vw;
}

#formBasicEmail{
    width: 20vw;
}

#formBasicPassword{
    width: 20vw;
}

#formBasicRepitPassword{
    width: 20vw;
}

Form{
   margin-left: 40%;
   margin-top: 2%;
}

/* TELEMEDICINA */

.prin{
    /* background-color: #2B2F3A; */
    height: 900px;
}

.teleme{
    height: 400px; 
    width: 1340px;   
    margin-top: -20px;
}

.resena{
    /* float: right; */
    margin-top: -390px;
    color: white;
    text-align: right;
    font-style: oblique;
    margin-right: 50px;
}

.resena1{
    margin-top: 30px;
    color: white;
    text-align: right;
    font-style: oblique;
    font-weight: lighter;
    font-size: 28px;
    margin-right: 50px;
}

.perfil{
    margin-left: 940px;
    margin-top: 10px;
    text-decoration: none;
    color: #40e0d0;
    background-color: #2B2F3A;
    text-align: center;
    width: 290px;
    height: 80px;
    padding-top: 25px;
    border-radius: 10px;
    font-size: 22px;
}

.telemed{
    height: 400px; 
    width: 1340px;
    margin-top: 40px;
}

.resena2{
    margin-top: -360px;
    color: white;
    text-align: left;
    font-style: oblique;
    margin-left: 50px;
}

.resena3{
    margin-top: 30px;
    color: white;
    text-align: left;
    font-style: oblique;
    font-weight: lighter;
    font-size: 28px;
    margin-left: 50px;
}

.nu{
    margin-left: 80px;
    margin-top: 20px;
    text-decoration: none;
    color: #40e0d0;
    background-color: #2B2F3A;
    text-align: center;
    width: 290px;
    height: 80px;
    padding-top: 25px;
    border-radius: 10px;
    font-size: 22px;
}

.perfiln{
    margin-top: -128px;
    margin-left: 540px;
    width: 291px;
    height: 100px;
    
}

.telede{
    float: right;
    margin-top: 100px;
    margin-right: 100px;
    color: white;
}

.teleinn{
    text-align: right;    
    margin-top: -400px;
    margin-right: 100px;
    color:  white ;
}

/* AtencionMedica */

.container{
    height: 650px;
}

.atencion{
    border: 2px solid blueviolet;
    margin-top: 20px;
    width: 800px;
    height: 630px;
    margin-left: 200px;
    border-radius: 20px;
    /* background-color: #2B2F3A; */
}

.logo{
    width: 100px;
    height: 100px;
    margin-top: 20px;
    margin-left: 20px;
}

.asesorme{
    border-radius: 300px;
    width: 150px;
    margin-left: 320px;
    margin-top: 5px;
}

.descrip{
    margin-top: -70px;
    text-align: center;
    color: blueviolet;
}

.ase{
    margin-top: 10px;
    text-align: center;
    color: blueviolet;
    font-weight: lighter;
}

.ase1{
    margin-top: 10px;
    text-align: center;
    color: blueviolet;
    font-weight: lighter;
    font-size: 15px;
}

.asesor{
    border-radius: 60px;
    width: 750px;
    height: 150px;
    margin-top: 20px;
    margin-left: 20px;
}

.volver{
    margin-left: 350px;
    margin-top: 10px;
    text-decoration: none;
    color: #40e0d0;
    background-color: #2B2F3A;
    width: 70px;
    text-align: center;
    height: 30px;
    padding: 4px;
    border-radius: 10px;
}

/* AtencionNutricion */

.containerr{
    height: 650px;
}

.nutri{
    border: 2px solid #2B2F3A;
    width: 800px;
    margin-left: 300px;
    height: 600px;
    border-radius: 10px;
}

.logos{
    width: 100px;
    height: 100px;
    margin-left: 20px;
    margin-top: -90px;
}

.aten{
    border-radius: 300px;
    width: 150px;
    margin-left: 200px;
    margin-top: 80px;
}

.nom{
    text-align: center;
    margin-top: 30px;
}

.des{
    text-align: center;
    font-weight: bolder;
    font-size: 22px;
    margin-top: 40px;
    padding-top: 10px;
    color: #40e0d0;
    border: 2px solid blueviolet;
    border-radius: 10px;
    width: 600px;
    height: 100px;
    margin-left: 100px;
    background-color: blueviolet;
}

.for{
    font-weight: inherit;
    color: grey;
    font-size: 20px;
    text-align: center;
    margin-top: 20px;
}

.volveer{
    margin-left: 360px;
    margin-top: 20px;
    text-decoration: none;
    color: #40e0d0;
    background-color: #2B2F3A;
    width: 70px;
    text-align: center;
    height: 30px;
    padding: 4px;
    border-radius: 10px;
}

