* {
  font-family: Avenir !important;
}

.ce-my-message-bubble {
  background-color: #7a39e0  !important;
}

.ce-chat-title-text {
  color: #7a39e0 !important;
}

.ce-chat-subtitle-text {
  color: #7a39e0 !important;
  font-weight: 600;
}

#ce-send-message-button {
  position: relative !important;
  bottom: 2px !important;
  left: 1px !important;
  background-color: #7a39e0 !important;
}

.ce-my-message-timestamp {
  color: #7a39e0 !important;
}

.transition-3 {
  transition: all 0.33s ease;
  -webkit-transition: all 0.33s ease;
  -moz-transition: all 0.33s ease;
}

.transition-5 {
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
}
imagen-portada{
  width:"100%";
}

.container_coaches{
  display: flex;
}
.perfil{
  display: flex;
  flex-direction: column;
  margin: 30px;
}

.img_perfil{
  width: 100px;
  height: 100px;
}

*{
  background-color: #2B2F3A;
  color: #2DC7DE ;
}
.App{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.container_portada{
  width: 100vh;
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
 
}
.imagenes{
  width: 300px;
}


.imagen_reto{
  width: 300px;
  margin: 15PX;
  
  
}

.titulo{margin-top: 20px;}